<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Portfolio</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
	</head>
	<body>
		<header>
        <a href="#" class="logo">GEEKIEDJ</a>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navList">
			<li><a href ="#home">Home</a></li>
			<li><a href ="#about">About</a></li>
			<li><a href ="#services">Services</a></li>
			<li><a href ="#portfolio">Portfolio</a></li>
			<li><a href ="#blog">Blog</a></li>
			<li><a href ="#contact">Contact</a></li>	
		</ul>
		</header>

		<!----- Home Section ----->
		<section class="home" id="home">
			<div class="home-text">
				<h1>Barbara.</h1>
				<p>I'm a <span class="unique"> software developer </span> that  builds  and  designs  responsive  web  applications.</p> <br> <br>
				<div class="social-icon">
					<a href ="#" class = "callbttn"><i class='bx bxs-phone-call'></i>Contact</a> 
				</div>

				  <div class="media">	
					  <a href="https://twitter.com/geekiedj">Twitter |</a>
					  <a href="https://github.com/geekiedj">Github |</a>
					  <a href="linkedin.com/in/barbara-odozi-87b692118">Linkedin</a>
				  </div>
				 
			   </div>
			</div>

			<!--<div class="home-img">
				<img src="C:\Users\HP\Portfolio\pexels-antonio-batinić-4164418.jpg" width="200" height="200">
			</div>-->
		</section>

		<!----- About Section ----->
		<section class="about" id="about">
			<div class="about-img">
				<img src="C:\Users\HP\Portfolio\pictoon.png" >
			</div>

			<div class="about-text">
				<span>About Me</span>
				<p>I am a software developer with a background in Business Management & Marketing. 
					I combine my skills from different walks of life as a business development associate
					/ a business owner / a DJ and my passion for technology to make my ideas come to life.
					I've always been a creator. From playing and mixing songs, managing my business,
					or typing lines of code on an IDE, I love creating and solving problems that is my passion. 
					I am a product based  software developer, with an eye for creativity and design
					capable of solving real world problems with programming languages & technologies.
					I'm a business-minded, idea-driven individual passionate about building innovative 
					solutions with great teams that contribute directly or indirectly to the betterment 
					of Africa and the world at large.
					I work very well within a team and strive to be reliable and consistent in 
					the work I deliver, and to a high standard.<br>
					When I am not coding, I like to play around with my controller, yoga, play 8-ball on my phone and
					binge-watch movies or youtube videos.</p>
				
			</div>
	    </section>
		  
	 <!----- Service Section ----->   
	<section class="service" id="services">
			<div class= "heading">
				<span>Services | Offer</span>
			</div>
			<div class="service-container">
				<div class="row">
					<i class='bx bx-mobile-landscape'></i>
					<h3>Web Design & Development</h3>
					<p>I prioritize the aesthetic and functionality of web projects as a well-designed website helps nurture leads, get more conversions.</p>
				</div>

				<div class="row">
					<i class='bx bx-cast'></i>
					<h3>Digital Business Strategy</h3>
					<p>I use technology to improve business performance, be it creating new products or reimagining current processes.</p>
				</div>

				<div class="row">
					<i class='bx bx-wrench'></i>
					<h3>Web Maintenance & Management</h3>
					<p>I maintain existing web projects in order to keep your website healthy, encourage traffic growth, and strengthen your SEO & Google rankings.</p>
				</div>
			</div>
	</section>
		
	<!----- Portfolio Section ----->   
	<section class="portfolio" id="portfolio">
		<div class= "heading">
			<span>Projects</span>
			<h2> Real World Projects</h2>
		</div>

		<div class="portfolio-container">
			<div class="box box-one">
		    	<div class="inner">
				   <h6>Development</h6>
				   <h3>The Language of Developer</h3>
				   <button type="button">Live Site</button> <br> <br>
			      <button type="button">Source Code</button>
				</div>
			</div>

		    <div class="box box-two">
		    	<div class="inner">
			      <h6>Development</h6>
			      <h3>The Language of Developer</h3>
				  <button type="button">Live Site</button> <br> <br>
			      <button type="button">Source Code</button>
		    	</div>
	    	</div>

		    <div class="box box-three">
		    	<div class="inner">
			      <h6>Development</h6>
			      <h3>The Language of Developer</h3>
			      <button type="button">Live Site</button> <br> <br>
			      <button type="button">Source Code</button>
		    	</div>
	    	</div>

		    <div class="box box-four">
		    	<div class="inner">
			      <h6>Development</h6>
			      <h3>The Language of Developer</h3>
			      <button type="button">Live Site</button> <br> <br>
			      <button type="button">Source Code</button>
		    	</div>
	    	</div>

		    <div class="box box-five">
		    	<div class="inner">
			      <h6>Development</h6>
			      <h3>The Language of Developer</h3>
			      <button type="button">Live Site</button> <br> <br>
			      <button type="button">Source Code</button>
		    	</div>
	    	</div>

		    <div class="box box-six">
		    	<div class="inner">
			      <h6>Development</h6>
			      <h3>The Language of Developer</h3>
				  <button type="button">Live Site</button><br> <br>
			      <button type="button">Source Code</button>
		    	</div>
	        </div>
		</div>
	</section> 

	<!----- Resume Section ----->   
	<section class="resume">
		<div class="resumetext"> 
			<p>Like what you've seen so far? Take a look at my resume below!!!</p>
		</div> 
		<div class="resumeclick">
			<a href="#" class="callbtn">My Resume</a>
		</div>
	</section>

	<!----- Blog Section -----> 

	

	<!----- Contact Section -----> 
	
		<section class="contact" id="contact">
		    <div class="content">
		    	<h2>Let's Talk</h2>
			   <!--- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis error fugiat dolores laboriosam nihil perferendis,<br> 
				iure possimus voluptatum ullam! Illum sint aut asperiores consectetur autem nemo id saepe eum.</p> --->
		    </div>
		     
					<div class="contactForm">
						<form>
							<h2>Feel free to contact me for full time positions, contracts or just to chat!😁</h2>
							<div class="inputBox">
								<input type="text" name=" " required="required">
								<span>Full Name</span>
							</div>

							<div class="inputBox">
								<input type="text" name=" " required="required">
								<span>Email</span>
							</div>

							<div class="inputBox">
								<textarea required="required"></textarea>
								<span>Type Your Message...</span>
							</div>

							<div class="inputBox">
								<input type="submit" name=" " value="submit">
							</div>
						</form>
					</div>
	        </div>

			<div class="social-icon2">
				<a href="https://twitter.com/geekiedj">Twitter |</a>
				<a href="https://github.com/geekiedj">Github |</a>
				<a href="linkedin.com/in/barbara-odozi-87b692118">Linkedin</a>
			  </div>

    	</section>
    
		<div class="final">Copyright © 2022, All rights Reserved. Made with 💜 by <span class="different"><a href="https://twitter.com/geekiedj">Geekiedj</a></span></div>
	
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
